<div class="abc">
  <div class="navbar bg-light shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <a class="item ui header teal" routerLink="/">
        <i class="fal fa-lemon"> My supermarket </i></a>
      |
      <a class="item ui header teal" routerLink="/about"> About</a>
      |
      <a class="item ui header green" routerLink="/login">
        <i class="fas fa-sign-in-alt">&nbsp;&nbsp;Login</i>
      </a>

      |
      <a class="item ui header green" routerLink="/register">
        <i class="fas fa-user-plus"></i>&nbsp;&nbsp; Sign up </a>
    </div>
  </div>
  
</div>

 <router-outlet></router-outlet>
 <app-main></app-main>