<!-- <router-outlet></router-outlet> -->
<div class="container" style="border-color: orange;">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="box">
                    <div class="text-center mb-4">
                        <h1>Your order was successful</h1>

                    </div>
                    <a class="item ui header teal">
                        To download the receipt,
                        <i class="fal fa-download"> click here </i>
                    </a>
                  
                  

                    <div class="text-center mb-4">
                        <button routerLink="/" class="btn btn-primary mt-3">Ok</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
