<div class="container" style="border-color: orange;">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="box">
                    <div class="text-center mb-4">
                        <h1>Edit product</h1>

                    </div>

                    <div>
                        <div class="group">
                               <label>Product name:</label>
                                <input [ngModel]="item.productName" required>
                        </div>
                        <div class="group">
                            <label>Product price:</label>
                                <input type="number" [ngModel]="item.price" required>
                        </div>                         
                        <div class="group">
                            <label>Image/path:</label>
                            <input [ngModel]="item.Image_path" required>
                        </div>
                    </div>

                    <div class="text-center mb-4">
                        <button class="btn btn-primary mt-3" (click)="onOk()">Ok</button>
                        <button class="btn btn-primary mt-3" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>